<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reset.css">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <link rel="stylesheet" href="../static/chat.css">
</head>
<body>
    <header class="cabecalho">
        <ul class="cabecalho-esquerda">
            <li>
                <a href="#" class="cabecalho-item">
                    <i class="ph ph-arrow-left"></i>
                </a>
            </li>
            <li>
                <a href="#" class="cabecalho-item">
                    <i class="ph ph-user-circle"></i>
                </a>
            </li>
        </ul>
    </header>
</body>
</html>